@use '../abstracts/spacing';

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: .9rem 1.6rem;

    border-radius: 999px;

    font-weight: 600;
    font-size: .95rem;

    transition:
        background .25s ease,
        color .25s ease,
        transform .25s ease,
        box-shadow .25s ease;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-2px);
}

.btn:active{
    transform: translateY(0);
}

.btn-primary{
    background: var(--primary);
    color: white;
}

.btn-primary:hover{
    background: var(--primary-hover);
    box-shadow: 0 12px 25px rgba(0,0,0,.18);
}

.btn-secondary{
    border: 1px solid var(--border);
    color: var(--text);
}

.btn-secondary:hover{
    background: var(--surface);
}