<header class="header">
  <div class="header__logo">
    <img src="assets/images/hero/photo_background.png" alt="Lau.dev Logo" />
  </div>
  <nav class="header__nav">
    <a href="#about">{{ headerContent().about }}</a>
    <a href="#skills">{{ headerContent().skills }}</a>
    <a href="#projects">{{ headerContent().projects }}</a>
    <a href="#contact">{{ headerContent().contact }}</a>
  </nav>

  <div class="header__actions">
    <button class="header__theme" (click)="toggleTheme()">
      @if (isDark()) {
        🌙
      } @else {
        ☀️
      }
    </button>

    <button
      class="header__lang"
      (click)="changeLanguage()"
      [attr.aria-label]="headerContent().language + ' - ' + headerContent().switchTo"
      [title]="headerContent().switchTo"
    >
      {{ currentLang().toUpperCase() }}
    </button>
  </div>
</header>
