<header class="header">
  <div class="header__logo">
    <img src="assets/images/hero/photo_background.png" alt="Lau.dev Logo" />
  </div>
  <nav class="header__nav">
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>

  <div class="header__actions">
    <button class="header__theme" (click)="toggleTheme()">
      @if (isDark()) {
        🌙
      } @else {
        ☀️
      }
    </button>

    <button class="header__lang" (click)="changeLanguage()">
      {{ currentLang().toUpperCase() }}
    </button>
  </div>
</header>
