<section id="projects" class="section projects">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">{{ projectsContent().title }}</h2>
      <p class="section-subtitle">
        {{ projectsContent().subtitle }}
      </p>
    </div>
    <div class="projects__grid">
      <article class="card project" *ngFor="let project of projects">
        <div class="project__image"></div>
        <div class="project__body">
          <h3>{{ project.title }}</h3>
          <p>
            {{ project.description[currentLang()] }}
          </p>
          <div class="project__stack">
            <span class="chip" *ngFor="let tech of project.stack">{{
              tech
            }}</span>
          </div>
          <div class="project__links">
            <a
              *ngIf="project.demoLink"
              class="link"
              [href]="project.demoLink"
              target="_blank"
            >
              {{ projectsContent().demo }}
            </a>
            <a class="link" [href]="project.githubLink" target="_blank">
              {{ projectsContent().github }}
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
